doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/style.min.css")
  body
    header.header
      .container
        .header__wrapper
          a.logo(href="#")
            img(src="images/logo.jpg", alt="logo")
          nav.header__nav
            li.header__item
              a.header__link О Нас
            li.header__item
              a.header__link Наша команда 
            li.header__item
              a.header__link Достижения
            li.header__item
              a.header__link Отзывы
            li.header__item
              a.header__link Как с нами связаться? 
    section.about
      .container 
        h1.about__title.title О Нас
        .about__wrapper 
          p.about__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nihil quis autem sed voluptas debitis laboriosam distinctio fuga expedita veniam voluptates nostrum vitae aut, deleniti placeat quas quaerat dolorum fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nihil quis autem sed voluptas debitis laboriosam distinctio fuga expedita veniam voluptates nostrum vitae aut, deleniti placeat quas quaerat dolorum fugiat!
          .about__img
            img(src="https://via.placeholder.com/450x280" alt="about")
    section.team 
      .container 
        h2.team__title.title Наша команда
        ul.team__slider
          li.team__item 
            .team__wrapper 
              .team__img 
                img(src="https://via.placeholder.com/320x320", alt="Person")
              .team__text 
                h3.team__name Имя Фамилия
                h4.team__exp опыт работы
                p.team__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sunt laboriosam adipisci earum, explicabo iusto, odio consectetur eaque atque sint dolores repellat. Eligendi temporibus ipsum ipsam sit ea fuga laboriosam!
          li.team__item
            .team__wrapper 
              .team__img 
                img(src="https://via.placeholder.com/320x320", alt="Person")
              .team__text 
                h3.team__name Имя Фамилия
                h4.team__exp опыт работы
                p.team__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sunt laboriosam adipisci earum, explicabo iusto, odio consectetur eaque atque sint dolores repellat. Eligendi temporibus ipsum ipsam sit ea fuga laboriosam!
          li.team__item 
            .team__wrapper 
              .team__img 
                img(src="https://via.placeholder.com/320x320", alt="Person")
              .team__text 
                h3.team__name Имя Фамилия
                h4.team__exp опыт работы
                p.team__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sunt laboriosam adipisci earum, explicabo iusto, odio consectetur eaque atque sint dolores repellat. Eligendi temporibus ipsum ipsam sit ea fuga laboriosam!
    section.achive 
      .container 
        h2.achive__title.title Достижения
        .achive__wrapper 
          .achive__img 
            img(src="https://via.placeholder.com/450x280", alt="achive")
          p.achive__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa labore temporibus magni quidem expedita rerum beatae eaque exercitationem modi eligendi, asperiores quibusdam cupiditate laborum dolorum nobis quos, vitae sequi nihil!
        h3.achive__subtitle Тут будут дипломы крутиться, заголовок не придумал
        .achive__slider 
          .achive__diploma 
            img(src="https://via.placeholder.com/225x280", alt="diploma")
          .achive__diploma 
            img(src="https://via.placeholder.com/225x280", alt="diploma")
          .achive__diploma 
            img(src="https://via.placeholder.com/225x280", alt="diploma")
          .achive__diploma 
            img(src="https://via.placeholder.com/225x280", alt="diploma")
          .achive__diploma 
            img(src="https://via.placeholder.com/225x280", alt="diploma")
          .achive__diploma 
            img(src="https://via.placeholder.com/225x280", alt="diploma")
          .achive__diploma 
            img(src="https://via.placeholder.com/225x280", alt="diploma")
    section.feedback 
      .container 
        h2.feedback__title.title что о нас говорят
        ul.feedback__slider 
          li.feedback__item 
            .feedback__wrapper 
              .feedback__img 
                img(src="https://via.placeholder.com/100x100", alt="")
              .feedback__review
                h2.feedback__name Имя Фамилия
                p.feedback__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptates in libero, natus tenetur at repellendus, quod harum iste atque quam possimus? Voluptatem excepturi eveniet ex distinctio possimus amet reiciendis.
          li.feedback__item 
            .feedback__wrapper 
              .feedback__img 
                img(src="https://via.placeholder.com/100x100", alt="")
              .feedback__review
                h2.feedback__name Имя Фамилия
                p.feedback__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptates in libero, natus tenetur at repellendus, quod harum iste atque quam possimus? Voluptatem excepturi eveniet ex distinctio possimus amet reiciendis.
          li.feedback__item 
            .feedback__wrapper 
              .feedback__img 
                img(src="https://via.placeholder.com/100x100", alt="")
              .feedback__review
                h2.feedback__name Имя Фамилия
                p.feedback__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptates in libero, natus tenetur at repellendus, quod harum iste atque quam possimus? Voluptatem excepturi eveniet ex distinctio possimus amet reiciendis.
          li.feedback__item 
            .feedback__wrapper 
              .feedback__img 
                img(src="https://via.placeholder.com/100x100", alt="")
              .feedback__review
                h2.feedback__name Имя Фамилия
                p.feedback__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptates in libero, natus tenetur at repellendus, quod harum iste atque quam possimus? Voluptatem excepturi eveniet ex distinctio possimus amet reiciendis.
    footer.footer
      .container 
        h2.footer__title.title контакты
        .footer__wrapper 
          .footer__info
            a.footer__link.footer__link--mail(href="mailto:studio@asd.com") studio@asd.com
            a.footer__link.footer__link--phone(href="tel:+79218389") +79218389
            a.footer__link.footer__link--location(href="#") Улица Пушкина 12312313 литера В
          .footer__map
            script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aaef319f218162504d9226347b8cd3b5a53311dfd4a78ba61a9a359a683b4829b&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")

    script(src='js/main.min.js')
